/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    a {
    text-decoration: none;

    }
    li {
    list-style: none;
    }

/* NAVBAR STYLING STARTS */

.navbar {
    font-family: sans-serif, fantasy;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: CD9933;
    color: rgba(84, 47, 29, 1);
    height: 50px;
    width: 100%;
    
    }
    
.nav-links a {
    color: rgba(84, 47, 29, 1);
    }
    
    /* LOGO */
    
    .logo {
    font-size: 32px;

    
    }

#logoimage{
    height: 50px;
    width: 100%;
    }

    /* NAVBAR MENU */
    
    .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    
    }
    
    .menu li:hover {
    background-color:rgb(245, 242, 241);
    border-radius: 5px;
    transition: 0.3s ease;
    
    }

    .menu li {
    padding: 5px 14px;
    
    }
    
    /* DROPDOWN MENU */
    
    .services {
    position: relative; 
    
    }

    .dropdown {
    padding: 5px;
    position: absolute; 
    display: none;
    border-radius: 8px;
    top: 40px;
    transition: all 300ms ease-in-out;
    z-index: 2;
    background: rgba(247, 152, 10, 0.8);
    }
    

    .dropdown li + li {
    margin-top: 10px;
    transition: all 300ms ease-in-out;
    
    }  
    .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
    
    }
    .dropdown li:hover {
    background-color:rgb(245, 242, 241);
    
    } 
    .services:hover .dropdown {
    display: block; 
    }

    input[type=checkbox]{
    display: none;
        
    }      
  /*HAMBURGER MENU*/
        
    .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    }

    /* slide image */

    /*  */

.slidemain{ 
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
    font-size: 48px;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.wrapper, 
.slide {
    width: 100%;
    height: 100%;
}

.slide{
    overflow: hidden;
}

.slide .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide .image-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.image-data span.text {
    font-size: 48px;
    font-weight:  500;
    color: #fff;
}


.swiper-button-next{
    right: 50px;
}

.swiper-button-prev{
    left: 50px;
}

@media screen and (max-width:768px) {
    .nav-btn{
        visibility:hidden;
    }

    .swiper-pagination-bullet{
        visibility:visible;

    }

    .slidemain{ 
        font-family: 'Lobster', cursive;
        font-family: 'Pacifico', cursive;
        font-size: 35px;
        height: 100vh;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    
    .wrapper, 
    .slide {
        width: 100%;
        height: 100%;
    }
    
    .slide{
        overflow: hidden;
    }
    
    .slide .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .slide .image-data {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
    }
    
    .image-data span.text {
        font-size: 35px;
        font-weight:  500;
        color: #fff;
    }
}

.row{
    margin: 20px;
    margin-bottom: 40px;
 
}
/* our story */
.column1{
    float: left;
    width: 50%;
    height: 450px;
    background-image: url("images/view_3000x1329.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.column2{
    float: left;
    width: 50%;
    height: 450px;   
    text-align: center;
    background-image: url("images/africa22-removebg-preview.jpg");
    background-size: 250px;
    background-position: center;
    background-repeat: no-repeat;
 
}
.row:after{
    content: " ";
    display: table;
    clear: both;
}

.hillhead{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    text-align: center;
}
.storycontent{
    padding: 30px;
    text-align: left; 
    font-family: Arial, sans-serif;  
    margin-bottom: 30px;
    color: rgb(201, 50, 50);
}

.buttonabout {
    border-radius: 4px;
    background-color: #ee991a;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .buttonabout span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttonabout span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .buttonabout:hover span {
    padding-right: 25px;
  }
  
  .buttonabout:hover span:after {
    opacity: 1;
    right: 0;
  }


/* accomodation */
.columnaccomodation1{
    float: left;
    width: 50%;
    height: 450px; 
    text-align: center;
    background-image: url("images/africa22-removebg-preview.jpg");
    background-size: 250px;
    background-position: center;
    background-repeat: no-repeat;
}

.columnaccomodation2{
    float: left;
    width: 50%;
    height: 450px;
    background-image: url("images/ah-bedroom-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.accomodation-content{
    padding: 30px;
    text-align: left; 
    font-family: Arial, sans-serif;  
    margin-bottom: 30px;
    color: rgb(192, 98, 98);
}

.buttonacco {
    border-radius: 4px;
    background-color: #ee991a;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 65px;

  }
  
  .buttonacco span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttonacco span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .buttonacco:hover span {
    padding-right: 25px;
  }
  
  .buttonacco:hover span:after {
    opacity: 1;
    right: 0;
  }


/* confrence */
.confrence1{
    float: left;
    width: 50%;
    height: 450px;
    background-image: url("images/ah-beedroom.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.confrence2{
    float: left;
    width: 50%;
    height: 450px;   
    text-align: center;
    background-image: url("images/africa22-removebg-preview.jpg");
    background-size: 250px;
    background-position: center;
    background-repeat: no-repeat;
}

.confrencecontent{
    padding: 30px;
    text-align: left; 
    font-family: Arial, sans-serif;  
    margin-bottom: 30px;
    color: rgb(192, 98, 98);
}

.buttonconfrence {
    border-radius: 4px;
    background-color: #ee991a;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 45px;

  }
  
  .buttonconfrence span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttonconfrence span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .buttonconfrence:hover span {
    padding-right: 25px;
  }
  
  .buttonconfrence:hover span:after {
    opacity: 1;
    right: 0;
  }




/* massage */
.massage1{
    float: left;
    width: 50%;
    height: 450px; 
    text-align: center;
    background-image: url("images/africa22-removebg-preview.jpg");
    background-size: 250px;
    background-position: center;
    background-repeat: no-repeat;
}

.massage2{
    float: left;
    width: 50%;
    height: 450px;
    background-image: url("images/ah-bedroom-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.massagecontent{
    padding: 30px;
    text-align: left; 
    font-family: Arial, sans-serif;  
    margin-bottom: 30px;
    color: rgb(192, 98, 98);
}

.buttonmassage {
    border-radius: 4px;
    background-color: #ee991a;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 65px;

  }
  
  .buttonmassage span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttonmassage span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .buttonmassage:hover span {
    padding-right: 25px;
  }
  
  .buttonmassage:hover span:after {
    opacity: 1;
    right: 0;
  }


/* bar and restourant */
.bar1{
    float: left;
    width: 50%;
    height: 450px;
    background-image: url("images/ah-beedroom.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.bar2{
    float: left;
    width: 50%;
    height: 450px;   
    text-align: center;
    background-image: url("images/africa22-removebg-preview.jpg");
    background-size: 250px;
    background-position: center;
    background-repeat: no-repeat;
}

.barcontent{
    padding: 30px;
    text-align: left; 
    font-family: Arial, sans-serif;  
    margin-bottom: 30px;
    color: rgb(192, 98, 98);
}
/* pool playground */
.pool1{
    float: left;
    width: 50%;
    height: 450px; 
    text-align: center;
    background-image: url("images/africa22-removebg-preview.jpg");
    background-size: 250px;
    background-position: center;
    background-repeat: no-repeat;
}

.pool2{
    float: left;
    width: 50%;
    height: 450px;
    background-image: url("images/ah-bedroom-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.poolcontent{
    padding: 30px;
    text-align: left; 
    font-family: Arial, sans-serif;  
    margin-bottom: 30px;
    color: rgb(192, 98, 98);
}
/* tour and airport shuttle */
.tour1{
    float: left;
    width: 50%;
    height: 350px;
    background-image: url("images/af-compound2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.tour2{
    float: left;
    width: 50%;
    height: 350px;
}

.tourcontent{
    padding: 30px;
    text-align: left; 
    font-family: Arial, sans-serif;  
    margin-bottom: 30px;
    color: rgb(192, 98, 98);
}

/* media */
.media{
    float: left;
    width: 50%;
    height: 350px;
}

/* footer one contact and location */
.footer1{
    float: left;
    width: 50%;
    height: 150px;
}

.footerhill{
    text-align: center;
    background-color: darkgray;
    color: black;
    margin: 0px;
    padding-top: 10px;
}

.hillmain{
    /* background-color: aqua; */
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 5px;
    background-image: url(images/compound-3.jpg);
    background-position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* APPLYING MEDIA QUERIES to all sizes */
        
@media (max-width: 768px) {
        
.menu { 
    display:none;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    z-index: 2;
    display: none;
    top: 50px;
    transition: all 300ms ease-in-out;
    background: rgba(247, 152, 10, 0.8);
    position: absolute;
 }
        
.menu li:hover {
     display: inline-block;
     background-color:rgb(245, 242, 241);
     transition: 0.3s ease;
    }
        
.menu li + li {
    margin-top: 12px;
        
}
        
input[type=checkbox]:checked ~ .menu{
    display: block;
        
    }
        
.hamburger {
    display: block;
    z-index: 2;
    }
        
.dropdown {
    left: 50%;
    top: 2px;
    transform: translateX(35%);
    z-index: 2;
    background: rgba(247, 152, 10, 0.8);
    }
        
.dropdown li:hover {
    background-color:rgb(245, 242, 241);;
    }
     body { margin: 0; } 
     div#slider { overflow: hidden; }
     div#slider figure img { width: 20%; float: left; }
     div#slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite; 
    } 
/* story */
.column1{
    width: 100%;
    background-image: url("images/view_3000x1329.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.column2{
    width: 100%;
}
.storycontent{ 
    margin-bottom: 0px;
}
.buttonabout {
    margin: 0px;
  }
/* accomadation */
.columnaccomodation2{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.columnaccomodation1{
    width: 100%;
}

/* confrence */
.confrence1{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.confrence2{
    width: 100%;
}

.confrencecontent{ 
    margin-bottom: 0px;
}

.buttonconfrence {

    margin: 15px;

  }

/* massage */
.massage1{
    width: 100%;
}

.massage2{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* .bar */
.bar1{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.bar2{
    width: 100%;

}

/* pool playground */
.pool1{
    width: 100%;
}
.pool2{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* tour and airport shuttle */
.tour1{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.tour2{
    width: 100%;

}

/* media */
.media{
    width: 100%;

}

/* footer one */
.footer1{
    width: 100%;
    height: 200px;
}

/* footer */



/* slidding bg */
.slide{ 
    color: white;
}
.bg-text-center{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}

}